name: Deploy Hugo site to Pages

on:
  push:
    paths-ignore: 
      - 'README.md'
      - 'LICENSE'
      - 'CONTRIBUTING.md'
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04
    env:
      HUGO_VERSION: 0.155.1
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup PlantUML & Graphviz
        run: |
          echo :: Installing graphviz ::
          sudo apt install graphviz
          echo :: Installing PlantUML ::
          wget https://github.com/plantuml/plantuml/releases/latest/download/plantuml.jar -O /usr/local/bin/plantuml.jar
          sudo sh -c 'echo "#!/bin/bash\nexec java -jar /usr/local/bin/plantuml.jar \"\$@\"" > /usr/local/bin/plantuml'
          sudo chmod +x /usr/local/bin/plantuml
          plantuml -version
      - name: Embed PlantUML schemas in markdown
        run: |
          cd content
          ruby ../.github/scripts/embed-puml-in-md.rb . res
      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: hugo --gc --minify
      - name: Deploy website
        if: ${{ github.event_name != 'pull_request' && github.ref_name == github.event.repository.default_branch }}
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
          branch: main
          folder: public
          repository-name: position-pal/position-pal.github.io
